.col {
    margin-right: 0;
}

.card {
    background-color: #F5F5F5;
}

.btn-primary {
    background-color: #284B63;
}

.list-group-item {
    background-color: #F5F5F5;
}

.card-precio {
    size: 1px;
}
