main {
    background-color: #889D9F;
}

.musicBanner {
    display: flex;
    margin: 16px;
    padding: 16px;
    border-radius: 42px;
    background-color: #546364;
}
  
.newReleaseAlbum {
    border: solid 1px rgb(75, 75, 75);
    border-radius: 34px;
    width: 512px;
    height: 512px;
    transition: all 0.5s;
}

.album {
    color: rgb(211, 211, 211);
    margin: 24px;
    margin-bottom: 0;
    padding-left: 16px;
    font-size: 48px;
    font-weight: 600;
    transition: all 0.5s;
}

.artist {
    color: rgb(211, 211, 211);
    margin: 24px;
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 16px;
    font-size: 32px;
}

.releaseDate {
    color: rgb(211, 211, 211);
    opacity: 0;
    margin: 24px;
    margin-top: 0;
    padding-left: 16px;
    font-size: 24px;
    transition: all 1s;
    max-height: 0;
}

.roll_date {
    max-height: default;
}

.audioBanner {
    display: flex;
}

.audioProduct {
    flex: 1;
    object-fit: contain;
    margin: 16px;
    padding: 16px;
    border-radius: 32px;
    background-color: #546364;
}

.product {
    color: rgb(211, 211, 211);
    margin: 16px;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
}

.productImage {
    transform: translateY(-2px);
    width: 100%;
    border-radius: 24px;
    background-color: rgba(250, 235, 215, 0.87);
    transition: all 0.5s;
}

@media (max-width:768px) {
    .musicBanner {
        flex-direction: column;
    }

    .newReleaseAlbum {
        width: 100%;
        height: 100%;
    }

    .album, .artist, .releaseDate {
        padding: 0;
        margin: 8px;
    }
}