columnas {
    padding: 1.2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#product > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#eeeff0;
}

.banner {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
}

.prod_banner {
    position: relative;
    text-align: center;
    color:black;
}

.banner_text {  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Figtree", sans-serif;
    font-size: 400px;
    color: #d6d6d6d5; /* Establece el color del texto en blanco */
    mix-blend-mode:exclusion; /* Utiliza la mezcla de modos para invertir el color del texto */
}

.btn-primary {
    background-color: #284B63;
}

.card {
    background-color: #F5F5F5;
}

.list-group-item {
    background-color: #F5F5F5;
}

.card-precio {
    size: 1px;
}

.col {
    margin-right: 0%;
    padding-right: 0%;
}

.row {
    margin-right: 0%;
    padding-right: 0%;
}

@media (max-width:1200px) {
    .banner_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 250px;
    }
}

@media (max-width:946px) {
    .banner_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 200px;
    }

    .columnas {
        font-size: 13px;
    }

    .card-title {
        font-size:15px;
    }

    .btn-primary{
        font-size: 11px;
    }
}

@media (max-width:755px) {
    .banner_text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 150px;
    }

    .columnas {
        font-size: 13px;
    }

    .card-title {
        font-size:15px;
    }

    .btn-primary {
        font-size: 11px;
    }
}

@media (max-width:570px) {
    .banner_text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 120px;
    }

    .columnas {
        font-size: 13px;
    }

    .card-title {
        font-size:15px;
    }

    .btn-primary {
        font-size: 11px;
    }
}

@media (max-width:450px) {
    .banner_text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
    }

    .columnas {
        font-size: 13px;
    }

    .card-title {
        font-size:15px;
    }

    .btn-primary {
        font-size: 11px;
    }
}

.nunito-sigma {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.figtree-sigma {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}