main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.searchBar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.dropdown{
    width: 200px;
}
.search-box {
    display: flex;
    align-items: baseline; /* Alinear verticalmente */
    height: 100%; /* Establecer altura al 100% del contenedor padre */
    background-color: white;
    border-radius: 0px 25px 25px 0px;
    width: 200%;
}
.fa-solid.fa-magnifying-glass{
    padding-right: 7%;
    padding-left: 3%;
}
#search-input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    outline: none;
}
.uppersearch.dropdown-text{
    background-color: white;
}
.dropdown-text{
    display: flex;
    align-items: baseline;
    background-color: #284b63;
    color: antiquewhite;
    padding: 5% 15%;
    border-radius: 25px;
    justify-content: space-between;
    margin-bottom: 3%;
    border-radius: 25px 0px 0px 25px;
}
.dropdown-text2{
    display: flex;
    align-items: baseline;
    background-color: #28634f;
    color: antiquewhite;
    padding: 5% 15%;
    border-radius: 0px;
    justify-content: space-between;
    margin-bottom: 3%;
}

.dropdown-list{
    
    background-color:white;
    width:90%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    margin:  auto; /* Modificado */
    
}
#dropList.show {
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: white;
    max-height: 600px;
}

#dropList2.show2 {
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: white;
    max-height:600px;
}
.dropdown-list-item{
    list-style-type: none;
    padding-top: 3%;
    transition: all 0.5s;
}
.dropdown-list-item:hover{
    padding-left: 10%;
}


